// Setting base variables

//font-family
$base-font-family: "Poppins", sans-serif;
// font weights
$font-normal: 400;
$font-medium: 500;
$font-semibold: 600;
$font-bold: 700;

$base-color: #f33e30;
